@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  @apply bg-[#1f1f1f];
}
.hover-effect {
  cursor: pointer; 
  border-radius: 50%; 
  transition: background-color 0.3s; 
}

.hover-effect:hover {
  background-color: rgba(0, 0, 0, 0.1); 
  padding: 8px; 
}


.material-symbols-outlined {
  box-sizing: border-box; 
  padding: 8px;
}
